<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/logo/favicon-32x32.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- navbar -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./styles/navBar.css">
    <!-- footer -->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <link rel="stylesheet" href="./styles/gallery.css">
    <link rel="stylesheet" href="./styles/formSteps.css">
    <link rel="stylesheet" href="./styles/accountDetails.css">
    <link rel="stylesheet" href="./styles/dashboard.css">
    <link rel="stylesheet" href="./styles/shop.css">
    <link rel="stylesheet" href="./styles/appointmen.css">
    <title>Your Account</title>
</head>

<body>
    <!-- nav mobile -->
    <nav class="mobileNav">
        <a href="#"><i class='bx bx-home-circle active'></i></a>
        <a href="./gallery.html"><i class='bx bxs-grid-alt'></i></a>
        <a href="./gallery.html"><i class='bx bxs-plus-circle'></i></a>
        <a href="./shop.html"><i class='bx bx-shopping-bag'></i></a>
        <a href="./account.html"><i class='bx bx-user'></i></a>
    </nav>
    <!--- sidebarDesktop -->
    <div class="desktopSidebar" id = "desktopSidebar">
      <div class="desktopSidebarTop">
        <div>
          <img src="./assets/logo/sketchLogo2.png" alt="logoToungue" class = "logoSidebar">
        </div>
        <div>
          <span class = "sidebarTitle">Psycho <br> Tattoo</span>
        </div>
      </div>
      <div class="desktopSidebarMiddle">
        <div class="sidebarMenu">
          <div class="sidebarItem ">
            <a href="./account.html" class = "activeSection" style="font-family:'Fester';"> Your account </a>
          </div>
          <div class="sidebarItem">
            <a href="./lastPurchases.html" style="font-family:'Fester';"> Last purchases </a>
          </div>
          <div class="sidebarItem">
            <a href="./yourFavourites.html" style="font-family:'Fester';"> Your favourites </a>
          </div>
        </div>
      </div>
      <div class="desktopSidebarFooter">
        <div class = "sidebarItem">
          <a href="#" onclick="logout()"> Logout </a>
        </div>
      </div>
    </div>
    <!--- sidebarDesktop -->
    <!--- NavbarMobile -->
    <div class="mobileSidebar" id = "mobileSidebar">
      <a href="account" class = "activeMobile"> Your account </a>
      <a href="lastPurchases.html"> Last purchases </a>
      <a href="yourFavourites.html"> Your favourites </a>
    </div>
    <!--- NavbarMobile -->
    <!--- ModalForm -->
    <!--- <div class="modalForm">
      <form class = "formAccount">
        <div class="">
          <label for="firstName">
              <input class="form__input" type="text" name="firstName" id="firstNameClient" placeholder="First name">
          </label>
          <label for="lastName">
              <input class="form__input" type="text" name="lastName" id="lastNameClient" placeholder="Last name">
          </label>
          <label for="email">
              <input class="form__input" type="text" name="email" id="emailClient" placeholder="E-mail">
          </label>
        </div>
      </form>
    </div> --->
    <!--- ModalForm -->
    <main id = "app">
        <!--  img girl -->
        <!-- LOADER -->
        <div id="loading"></div>
        <!-- tattoArtists -->
        <div class="barbedWire-navbar" id = "barbedWireNavBar"></div>

        <div class="webpageContent"  v-if="isClient" >
          <div class="accountSection">
            <div class="accountDetails">
              <h2> My account </h2>
              <h3> Account Details </h3>
              <p> {{client.firstName}} {{client.lastName}} </p>
              <p> {{client.email}} </p>
              <p><a href="#" @click = "editAccountChange()"> Edit account </a> | <a href="#"> Change password </a></p>
            </div>
            <div class="postsDetails"  v-if=" client.posts > 0">
              <h3>Posts you have done</h3>
              <div class="postContainers">
                <div class="cards" v-for="post in client.posts" :style="'background-image:url('+post.urlImage+');'">
                    <p class="glass">@{{post.tattooer}}</p>
                    <div class="fire">
                        <img class="stars" src="../web/assets/gallery/fireEmoji.png" alt="stars" v-for="fire in post.fires">
                    </div>
                    <span class="username">@{{post.username}}</span>
                    <button class="requestTurn" @click ="removePost(post.id)">Delete Post</button>
                </div>
              </div>
            </div>
            <div v-if="1 > client.posts " class="nothing">
              <h2>Nothing here</h2>
            </div>
          </div>

        </div>
        <div class="accountSection" v-else>
          <div class="notLogin">
            <p>You aren't login, please login</p>
            <a href="./login.html">Click here</a>
            <img src="../web/assets/account/accountLogin.png" alt="hand with a key" class="loginPleaseImg">
          </div>
        </div>
    </main>
    <!-- footer -->

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./scripts/navBar.js"></script>
    <script src="./scripts/sidebar.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
