<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./assets/logo/favicon-32x32.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- navbar -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="./styles/navBar.css">
  <!-- footer -->
  <link rel="stylesheet" href="./styles/footer.css">

  <link rel="stylesheet" href="./styles/cart.css">
  <link rel="stylesheet" href="./styles/shop.css">
  <title>Psycho Tattoo & Piercing Shop</title>
</head>

<body>
  <!-- nav mobile -->
  <nav class="mobileNav">
    <a href="./index.html"><i class='bx bx-home-circle '></i></a>
    <a href="./gallery.html"><i class='bx bxs-grid-alt'></i></a>
    <a href="./gallery.html"><i class='bx bxs-plus-circle'></i></a>
    <a href="#"><i class='bx bx-shopping-bag active'></i></a>
    <a href="./account.html"><i class='bx bx-user'></i></a>
  </nav>

  <!-- LOADER -->
  <div id="loading"></div>
  <!-- nav desktop -->
  <nav class="desktopNav nav-bar  justify-content-around">
    <div class="">

    </div>
    <div class="nav-container">
      <a href="index.html" class="nav-item">Index</a>
      <a href="shop.html" class="nav-item">Shop</a>
      <a href="gallery.html" class="nav-item">Gallery</a>
      <a href="contact-us.html" class="nav-item">Contact Us</a>
    </div>
    <div class="nav-container">
      <a href="#" class="nav-icon"><i class="fa-solid fa-user"></i></a>
    </div>
  </nav>

  <main id="app">


    <section class="mobileHeader">
      <div class="upSeccion">
        <h1>Psycho Shop</h1>
        <i class="fa-solid fa-bag-shopping" @click="openCart()"><span v-if="cart.length > 0">{{cart.length}}</span
            v-else><span></span></i>
      </div>

      <div class="downSeccion">
        <div class="typesProducts">
          <img src="./assets/shop/option1.png" alt="" class="optionClothing " :class="{active: !clothOrPier}"
            @click="changeFilterCategory('CLOTHING')">
          <img src="./assets/shop/option1Active.png" alt="" class="optionClothingSelect " :class="{active: clothOrPier}"
            @click="changeFilterCategory('CLOTHING')">

          <img src="./assets/shop/option2.png" alt="" class="optionPiercing " :class="{active:clothOrPier}"
            @click="changeFilterCategory('PIERCING')">
          <img src="./assets/shop/option2Active.png" alt="" class="optionPiercingSelect "
            :class="{active: !clothOrPier}" @click="changeFilterCategory('PIERCING')">
        </div>
        <div class="filters">
          <i class='bx bx-slider-alt' @click="openFilters()"></i>
          <input type="search" name="shearch" v-model="shearchInput">
          {{shearch}}
        </div>
      </div>

      <div id="barbedWire" class="barbedWire barbedWire-navbar"></div>
    </section>

    <!-- <div class="productMobileContainer" id = "productMobileContainer">
      <div class="productMobileTop">
        <div class="productExit" @click ="closeCheckProduct()">
          <a href="#"><i class="fa-solid fa-arrow-left bigProductIcon"></i></a>
        </div>
        <div class="productFavourite">
          <a href="#"><i class="fa-solid fa-heart bigProductIcon"></i></a>
        </div>
      </div>
      <div class="productMobileDetails">
        <div class="productPriceImage">
          <div class="productImg">
            <div class="productMobileBody">
              <div class="img" :style="'background-image: url('+currentProduct.urlImg+');'"></div>
              <div class="productMobileBackground"></div>
            </div>
          </div>
          <div class="productPrice">
            <p style = "font-size: 18px;"> {{ currentProduct.name }} </p>
            <p style = "font-size: 14px;"> $ {{ currentProduct.price }} </p>
          </div>
        </div>
        <div class="productColor">
          <div>
            <span> Colours: </span>
          </div>
          <div class="colorPicker">
            <div v-for = "size in currentProduct.sizes" class="sizeCard">
              <a href="#"><span style = "visibility: hidden">14</span></a>
            </div>
          </div>
        </div>
        <div class="productSizes">
          <div class="">
            <span> Sizes: </span>
          </div>
          <div class="sizeContainer">
            <div v-for = "size in currentProduct.sizes" class="sizeCard">
              <a href="#">{{ size }}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="productMobileFooter">
        <button type="button" class ="cartBtn" name="button"> Add to cart <i style = "margin-left: 1rem;" class="fa-solid fa-cart-arrow-down"></i> </button>
      </div>
    </div> -->

    <div class="mobileHeaderBackground"></div>

    <div class="filterMobileContainer" :class="{active:filtersShow}">
      <i class='bx bx-left-arrow-alt' @click="openFilters()"></i>
      <p class="title">Search Options</p>
      <h3>Order by:</h3>
      <div class="orderDiv">
        <div :class="{active:order == 'lowPrice'}" @click="changeOrder('lowPrice')"><i class='bx bx-chevron-down'
            ></i>Price</div>
        <div :class="{active:order == 'highPrice'}"  @click="changeOrder('highPrice')"><i class='bx bx-chevron-up'
           ></i>Price</div>
        <div :class="{active:order == 'lowApha'}" @click="changeOrder('lowApha')"><i class='bx bx-chevron-up'></i>A-Z
        </div>
        <div :class="{active:order == 'highApha'}" @click="changeOrder('highApha')"><i class='bx bx-chevron-down'
            ></i>Z-A</div>
      </div>

      <h3>Filter by:</h3>
      <div class="typeDiv">
        <div class="clothingOptions" v-if="clothOrPier">
          <div @click="changeCategory('ALL')" :class="{active:category == 'ALL'}">All</div>
          <div @click="changeCategory('HAT')" :class="{active:category == 'HAT'}">Hat</div>
          <div @click="changeCategory('T-SHIRT')" :class="{active:category == 'T-SHIRT'}">T-shirt</div>
          <div @click="changeCategory('SWEATSHIRT')" :class="{active:category == 'SWEATSHIRT'}">Sweatshirt</div>
        </div>
        <div class="piercingOptions" v-if="!clothOrPier">
          <div @click="changeCategory('ALL')" :class="{active:category == 'ALL'}">All</div>
          <div @click="changeCategory('BODY')" :class="{active:category == 'BODY'}">Body</div>
          <div @click="changeCategory('MOUTH')" :class="{active:category == 'MOUTH'}">Mouth</div>
          <div @click="changeCategory('NOSE')" :class="{active:category == 'NOSE'}">Nose</div>
          <div @click="changeCategory('EYEBROW')" :class="{active:category == 'EYEBROW'}">Eyebrow</div>
          <div @click="changeCategory('EAR')" :class="{active:category == 'EAR'}">Ear</div>
        </div>
      </div>
      <div class="btnApply" @click="orderProducts(),openFilters()">APPLY</div>
    </div>


    <div class="cartMobileContainer" id="cartDesktopContainer">
      <div class="cartMobileTop">
        <div class="cartExit">
          <i @click="closeCart();" class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="cartTitle">
          My Cart
        </div>
        <div class="cartRemove">
          <i @click="removeCart()" class="fa-solid fa-trash"></i>
        </div>
      </div>
      <div class="cartMobileBody">
        <div class="cartBodyProducts">
          <div v-for="product in cart" class="cartCardProduct">
            <div class="cardProductImage">
              <img :src=product.url alt="">
            </div>
            <div class="cardProductDetails">
              <p style="font-size: 12px;"> {{ product.name }}</p>
              <p> ${{ product.price.toLocaleString('de-DE') }} </p>
            </div>
            <div class="cardProductOptions">
              <p> <span @click="addProduct(product)" class="productIcon"> <i class="fa-solid fa-square-plus"></i></span>
                <span> {{ product.quantity }} </span> <span @click="subProduct(product)" class="productIcon"> <i
                    class="fa-solid fa-square-minus"></i> </span>
              </p>
              <p> <i class="fa-solid fa-trash productIcon" @click="removeProduct(product)"></i> </p>
            </div>
          </div>
        </div>
        <div class="cartBodyDetails">
          <div class="">
            Subtotal: ${{ totalCart.toLocaleString('de-DE') }}
          </div>
          <div class="">
            Shippment: $1.000
          </div>
        </div>
      </div>
      <div class="cartMobileFooter">
        <div class="cartTotal">
          Total: ${{ (totalCart + 1000).toLocaleString('de-DE') }}
        </div>
        <div class="cartCheckout">
          <button class="cartBtn" type="button" name="button"><span> Checkout</span>
            <i class="fa-solid fa-arrow-right-long btnIcon"></i></button>
        </div>
      </div>
    </div>

    <div class="cartMobileContainer" id="cartMobileContainer">
      <div class="cartMobileTop">
        <div class="cartExit">
          <i @click="closeCart();" class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="cartTitle">
          My Cart
        </div>
        <div class="cartRemove">
          <i @click="removeCart()" class="fa-solid fa-trash"></i>
        </div>
      </div>
      <div class="cartMobileBody">
        <div class="cartBodyProducts">
          <div v-for="product in cart" class="cartCardProduct">
            <div class="cardProductImage">
              <img :src=product.url alt="">
            </div>
            <div class="cardProductDetails">
              <p style="font-size: 12px;"> {{ product.name }}</p>
              <p> ${{ product.price.toLocaleString('de-DE') }} </p>
            </div>
            <div class="cardProductOptions">
              <p> <span @click="addProduct(product)" class="productIcon"> + </span> <span> {{ product.quantity }}
                </span> <span @click="subProduct(product)" class="productIcon"> - </span> </p>
              <p> <i class="fa-solid fa-trash productIcon" @click="removeProduct(product)"></i> </p>
            </div>
          </div>
        </div>
        <div class="cartBodyDetails">
          <div class="">
            Subtotal: ${{ totalCart.toLocaleString('de-DE') }}
          </div>
          <div class="">
            Shippment: $1.000
          </div>
        </div>
      </div>
      <div class="cartMobileFooter">
        <div class="cartTotal">
          Total: ${{ (totalCart + 1000).toLocaleString('de-DE') }}
        </div>
        <div class="cartCheckout">
          <button class="cartBtn" type="button" name="button" @click="finishBuy()"><span> Checkout</span>
            <i class="fa-solid fa-arrow-right-long btnIcon"></i></button>
        </div>
      </div>
    </div>


    <div class="mainContent">
      <div class="productCard" v-for="product in productsList">
        <div class="productBody" @click = "openCheckProduct(product)">
          <div class="img" :style="'background-image: url('+product.urlImg+');'" :class="{piercing:!clothOrPier}"></div>
          <div class="favouriteIcon">
            <i class='bx bxs-heart' v-if="favouritesIds.includes(product.id)" @click="removeFavourite(product.id)" style="cursor: pointer;"></i>
            <i class='bx bx-heart' v-else @click="addFavourite(product.id)" style="cursor: pointer;"></i>
          </div>
          <div class="productBodyBackground"></div>
        </div>
        <div class="productText">
          <p class="nameProduct">{{product.name}}</p>
          <p class="priceProduct">${{product.price.toLocaleString('de-DE')}}</p>
        </div>
      </div>
      <div v-if="productsList.length == 0">

      </div>
    </div>

  </main>
  <!-- footer -->
  <footer>
    <div class="barbedWireFooter"></div>

    <section class="partLeft">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21986774.32852471!2d-10.792978169464016!3d36.87236600987632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f618bea6d8e59%3A0xb30315dbfd075191!2sPsycho%20Tattoo%20Studio!5e0!3m2!1ses-419!2sar!4v1656102980381!5m2!1ses-419!2sar"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="findUs">
        <h5>FIND US</h5>
        <p>Via Casilina, 183,</p>
        <p>00176 Roma RM, Italia</p>
      </div>
      <div class="d-flex flex-column gap-2 socialsMedia">
        <i class='bx bxl-instagram'></i>
        <i class='bx bxl-whatsapp'></i>
        <i class='bx bxl-facebook'></i>
      </div>

    </section>

    <section class="partRight">
      <img src="./assets/logo/sketchLogo2.png" alt="logo">
    </section>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
  <script src="https://kit.fontawesome.com/14ea8811f4.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/vue-dragscroll"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3"></script>

  <script src="./scripts/navBar.js"></script>
  <script src="./scripts/shop.js"></script>
</body>

</html>
