
#cartDesktopContainer{
  display: none;
  width: 40%;
  height: 100%;
  position: fixed;
  background-image: url(assets/newBackground.png);
  top: 0;
  z-index: 10;
}

#cartMobileContainer{
  display: none;
}

.cartMobileTop{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartMobileBody{
  width: 100%;
  height: 80%;
}

.cartBodyProducts{
  height: 93%;
}

.cartBodyDetails{
  background-color: rgb(230 0 130 / 53%);
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartBodyProducts{
  overflow-y: scroll;
}

.cartCardProduct{
  width: 100%;
  height: 20%;
  background-color: white;
  margin: 1% 0 1% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.cartCardProduct p{
  padding: 0;
  margin: 0;
}

.cardProductDetails{
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align-last: left;
}

.cardProductOptions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardProductImage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.cardProductImage img{
  border-radius: 50%;
  max-width: 13vh;
}

.cardProductDetails{
  width: 55%;
}

.cardProductOptions{
  width: 20%;
}

.productNumber:hover{
  content: '';

}

.cartMobileFooter{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartExit i{
  background-color: rgb(230 0 130 / 53%);
  border-radius: 50%;
  padding: 0.5rem;
}

.cartRemove i{
  background-color: rgb(230 0 130 / 53%);
  border-radius: 50%;
  padding: 0.5rem;
}

.cartBtn{
  background-color: rgb(230 0 130 / 53%);
  color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  transition: all 1s ease;
  width: 130px;
  display: flex;
  align-items: center;
}

.cartBtn span{
  display: block;
  width: 70%;

}

.cartBtn .btnIcon{
  display: block;
  width: 30%;
  transition: all 0.3s ease;
}

.cartBtn:hover span{
  display: none;
}

.cartBtn:hover > .btnIcon{
  left: -100px;
  font-size: 25px;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgb(230 0 130 / 53%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(230 0 130 / 53%);
}


@media only screen and (max-width: 800px){

  #cartMobileContainer{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(assets/newBackground.png);
    top: 0;
    z-index: 10;
  }

  #cartDesktopContainer{
    display: none;
  }
}
