* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
}


/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

@font-face {
    font-family: "Text";
    src: url(../assets/fonts/fontsAlternativas/Kepolu.ttf);
}

@font-face {
    font-family: "Graffity";
    src: url(../assets/fonts/fontsAlternativas/aAnotherTag.ttf);
}


/*------------------------------ ANIMACIONES -----------------------------------------*/



@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}


@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}


/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    background-color: black;
    color: white;
}


/*formulario*/
@font-face {
    font-family: "Graffity";
    src: url(../assets/fonts/fontsAlternativas/aAnotherTag.ttf);
}

h2 {
    font-family: "Argh";
    color: white;
    /* font-size: 2em; */
    letter-spacing: 2px;
}


#xGraffityFormAppointment {
    position: absolute;
    top: 30.5vh;
    left: 58.5vh;
    z-index: -1;
    width: 80px;
}

h5 {
    font-family: "Argh";
    color: white;
    font-size: 2.6rem;
    margin-top: 20px;

}


main {
    width: 100%;
    margin-bottom: 5rem;
}

form {
    text-align: center;
    font-size: 2.5rem;
}

.form__header {

    width: 99%;
}

fieldset {
    padding: 1em 0;
    font-family: 'Argh';
}

.form__fieldset {
    font-size: medium;
    display: block;
    text-align: -webkit-center;
    font-family: 'Argh';
}

label {
    text-align: -webkit-center;
    display: block;
    cursor: pointer;
}

.form__input input,
.form__select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input,
input::-webkit-input-placeholder {
    background-color: transparent;
    border: none;
    margin-top: 2vh;
    background-image: url(../assets/index/imputTexto.png);
    /* background-repeat: no-repeat; */
    height: 50px;
    text-align: center;
    font-family: 'Argh';
    color: white !important;
}

input:focus-visible {
    outline: none;
}

textarea,
textarea::-webkit-input-placeholder {
    background-color: transparent;
    border: none;
    margin-top: 2vh;
    background-image: url(../assets/index/imputTextoGrande.png);
    /* background-repeat: no-repeat; */

    height: 50px;
    text-align: center;
    font-family: 'Argh';
    color: white !important;
}

textarea:focus-visible {
    outline: none;
}

.color {
    padding: 5px 0 5px 60px;
}

#client-file {
    text-align: center;
    margin: auto;
    width: 39vw;
    background-color: transparent;
    border: none;
    margin-top: 2vh;
    background-image: url(../assets/index/imputTextoGrande.png);
    height: 50px;
    font-family: 'Argh';
    color: white !important;
}

.font{
    font-family: 'Argh';
}
form button[type="submit"] {
    /* width: 50vw; */
    height: 8vh;
    /* font-size: 26px; */
    align-self: center;
    background-image: url(../assets/index/buttonTurquesa.png);
    background-color: transparent;
    border: none;
    margin-bottom: 12%;
    margin-top: 3%;
    font-family: 'Argh';
    color: white;
    text-shadow: 3px 3px 5px rgb(0 0 0);
    letter-spacing: 3px;
    /* background-repeat: no-repeat; */
    background-size: contain;
}

.form__select {
    font-size: 2.5rem;
    height: 50px;
    width: 39vw;
    position: relative;
    text-align: center;
}

.form__select select {
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    color: #999;
    position: relative;
    transition: all 0.25s ease;
}

select,
select:hover {
    background-color: var(--pink);
    color: white;
}

.mini-contain {
    font-size: 2rem;
    display: flex;
    letter-spacing: 4px;
    flex-direction: row;
    font-family: 'Argh';
    align-items: flex-end;
    justify-content: center;
}


@media screen and (min-width:270px) and (max-width:650px) {
    .form__header {
        margin-top: 2rem;
    }

    #xGraffityFormAppointment {
        position: relative;
        left: 11.5vh;
        top: -6vh;
    }

    .form__body {
        flex-direction: column;
        align-items: center;
    }

    .form__select {
        width: 66vw;
        border: none;
        outline: none;
    }

    form textarea {
        width: 75vw;
        height: 25vh;
    }
    input[type=checkbox] {
        transform: scale(1.5);
      } 
      
    form button[type="submit"] {
          width: 42vw;
          font-size: 2rem;
          /* background-size: contain; */
          height: 14vh;
      }
    #color-tatoo,
    #bg {
        width: 3vw;
        height: 2vh;
        background-image: none !important;
    }

    #client-file {
        padding-top: 8px;
        width: 65vw;
        /* height: 1%; */
        font-size: 20px;
        text-align: -webkit-center;
        padding-left: 36px;
    }

    #logoTongue {
        display: none;
    }
    input, input::-webkit-input-placeholder { 
        width: 64vw;                                       
        font-size: 32px; 
    }    
     .form__select {
        width: 64vw;                      
      }
        
     form textarea {
        width: 64vw;                    
      }
        
     #client-file {
        width: 64vw;
     }
}

@media screen and (min-width:660px) and (max-width:800px) {

    .form__body {
        margin-top: -5rem;
        flex-direction: column;
        align-items: center;
    }
    input, input::-webkit-input-placeholder {
        background-color: transparent;
        border: none;
        width: 65vw;
    }
    form button[type="submit"] {
  
        height: 12vw;
  
    }

.form__select {
    width: 55%;
}

form textarea {
    width: 65vw;
    height: 25vh;
}

#client-file {
    width: 55vw;
}

#xGraffityFormAppointment {
    position: relative;
    left: 9.5vh;
    top: -14vh;
}

.mini-contain {
    font-size: 2rem;
    display: flex;
    letter-spacing: 4px;

    flex-direction: row;
    font-family: 'Argh';
    justify-content: center;
    align-items: center;
}

#color-tatoo,#bg{
    width:5vw;
}
}

@media screen and (min-width:800px) {
    form {
        margin-top: 5rem;
    }

    input,
    input::-webkit-input-placeholder {
        width: 39vw;
    }

    textarea,
    textarea::-webkit-input-placeholder {
        width: 39vw;
    }

    .form__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #half1,
    #half2 {
        width: 50%;
    }

    #color-tatoo,
    #bg {
        width: 2vw;
        height: 2vw;
    }

    #client-idea {
        height: 18vh;
    }

    .mini-contain {
        font-size: 2rem;
        display: flex;
        letter-spacing: 4px;
        width: 50vw;
        flex-direction: row;
        font-family: 'Argh';
        justify-content: space-evenly;
        /* justify-content: center; */
        align-items: center;
    }

    form button[type="submit"] {
        height: 12vh;
    }
}