* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
}


/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

@font-face {
    font-family: "Text";
    src: url(../assets/fonts/fontsAlternativas/Kepolu.ttf);
}

@font-face {
    font-family: "Graffity";
    src: url(../assets/fonts/fontsAlternativas/aAnotherTag.ttf);
}


/*------------------------------ ANIMACIONES -----------------------------------------*/



@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}


@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}


/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    background-color: black;
    color: white;
}


/*formulario*/
@font-face {
    font-family: "Graffity";
    src: url(../assets/fonts/fontsAlternativas/aAnotherTag.ttf);
}

h1 {
    font-family: "Argh";
    color: white;
    animation: neon 1s infinite;
  
    letter-spacing: 2px;
}

@keyframes neon {

    0%,
    39%,
    41%,
    59%,
    61%,
    100% {
        text-shadow:
            #fff 0 0 12px,
            rgb(230, 0, 130) 0 0 24px,
            rgb(230, 0, 130) 0 0 36px;
    }

    40%,
    60% {
        text-shadow: none;
    }
}

main {
    width: 100%;
    margin-bottom: 5rem;
}

form {
    text-align: center;
     font-size: 1.5em; 
}

legend {
    font-size: 18px;
}

fieldset {
    padding: 1em 0;
    font-family: 'Argh';
}

.form__fieldset {
    font-size: medium;
    display: block;
    text-align: -webkit-center;
    font-family: 'Argh';
}

label {
    text-align: -webkit-center;
    display: block;
    cursor: pointer;
}

.form__input input,
.form__select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input,
input::-webkit-input-placeholder {
    background-color: transparent;
    border: none;
    margin-top: 2vh;
    background-image: url(../assets/index/imputTexto.png);
    /* background-repeat: no-repeat; */
    height: 50px;
    text-align: center;
    font-family: 'Argh';
    color: white !important;
}

input:focus-visible {
    outline: none;
}

textarea,
textarea::-webkit-input-placeholder {
    background-color: transparent;
    border: none;
    margin-top: 2vh;
    background-image: url(../assets/index/imputTextoGrande.png);
    /* background-repeat: no-repeat; */

    height: 50px;
    text-align: center;
    font-family: 'Argh';
    color: white !important;
}

textarea:focus-visible {
    outline: none;
}

.color {
    padding: 5px 0 5px 60px;
}
#client-file{
    text-align: center;
  margin: auto;
  width: 20vw;
}


form button[type="submit"] {
    /* width: 50vw; */
    height: 8vh;
    font-size: 26px;
    align-self: center;
    background-image: url(../assets/index/buttonTurquesa.png);
    background-color: transparent;
    border: none;
    margin-bottom: 12%;
    margin-top: 3%;
    font-family: 'Argh';
    color: white;
    text-shadow: 3px 3px 5px rgb(0 0 0);
    letter-spacing: 3px;
    /* background-repeat: no-repeat; */
    background-size: contain;
}

.form__select {
    font-size:26px;
    height:50px;
  width:200px;
    position: relative;
    text-align: center;
}

.form__select select {
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    color: #999;
    position: relative;
    transition: all 0.25s ease;
}

select,
select:hover {
    background-color: var(--pink);
    color: white;
}

@media screen and (min-width:320px) and (max-width:480px) {
    .form__input {
        width: 49vw;
    }

    form textarea {
        width: 49vw;
    }

    #color-tatoo,
    #bg {
        width: 5vw;
    }

    form button[type="submit"] {
        width: 35vw;
    }
}

@media screen and (min-width:961px) {
form{
    margin-top: 5rem;
}
input, input::-webkit-input-placeholder {
    width: 20vw;
}
textarea, textarea::-webkit-input-placeholder {
    width: 20vw;
}
#color-tatoo, #bg {
    width: 1vw;
    height: 2vw;
}

}