/* TIPOGRAFIA*/
@font-face {
  font-family: "Fester";
  src: url(../assets/fonts/fester/Fester-ExtraLight.otf);
}


/* ------------------------------*/
#cartDesktopContainer{
left: -40%;
width: 40%;
height: 100%;
position: fixed;
top: 0;
z-index: 10;
transition: all 1s ease;
backdrop-filter: blur(7px) saturate(180%);
-webkit-backdrop-filter: blur(16px) saturate(180%);
background-color: rgb(22 16 21 / 75%);
border: 1px solid rgba(255, 255, 255, 0.125);
font-family: 'Fester';
}

.productIcon {
  cursor: pointer;
  color: rgb(230 0 130 / 53%);
  font-size: 20px;
}

#cartMobileContainer {
  display: none;
}

.cartMobileTop {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Argh';
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.cartMobileBody {
  width: 100%;
  height: 80%;
}

.cartBodyProducts {
  height: 93%;
}

.cartBodyDetails {
  background-color: rgb(230 0 130 / 22%);
  height: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Fester';
  letter-spacing: 1px;
}

.cartTotal {
  font-family: 'Fester';
  letter-spacing: 1px;
}

.cartBodyProducts {
  overflow-y: scroll;
}

.cartCardProduct {
  width: 100%;
  height: 20%;
  background-color: #4a304959;
  margin: 1% 0 1% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.cartCardProduct p {
  padding: 0;
  margin: 0;
}

.cardProductDetails {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-align-last: left;
}

.cardProductOptions {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  padding-right: 2rem;
}

.cardProductTrash span {
  display: block;
}

.cardProductTrash i {
  display: none;
}

.cardProductTrash:hover>span {
  display: none;
}

.cardProductTrash:hover>i {
  display: block;
}

.cardProductImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.cardProductImage img {
  border-radius: 50%;
  max-width: 13vh;
}

.cardProductDetails {
  width: 55%;
}

.cardProductOptions {
  width: 50%;
}

.productNumber:hover {
  content: '';

}

.cartMobileFooter {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cartExit i {
  background-color: rgb(230 0 130 / 53%);
  border-radius: 50%;
  padding: 0.5rem;
  transition: .3s;
}

.cartRemove i {
  background-color: rgb(230 0 130 / 53%);
  border-radius: 50%;
  padding: 0.5rem;
  transition: .3s;

}

.cartExit i:hover,
.cartRemove i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.cartBtn {
  background-color: rgb(230 0 130 / 53%);
  color: white;
  padding: 0.5rem;
  border: none;
  outline: none;
  transition: all 1s ease;
  width: 130px;
  display: flex;
  align-items: center;
  font-family: 'Argh';
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.cartBtn span {
  display: block;
  width: 70%;

}

.cartBtn .btnIcon {
  display: block;
  width: 30%;
  transition: all 0.3s ease;
}

.cartBtn:hover span {
  display: none;
}

.cartBtn:hover>.btnIcon {
  left: -100px;
  font-size: 25px;
  width: 100%;
}



@media only screen and (max-width: 800px) {

  #cartMobileContainer {
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(../assets/newBackground.png);
    top: 0;
    z-index: 10;
    transition: all 1s ease;
    font-family: 'Fester';
  }

  #cartDesktopContainer {
    display: none;
  }
}