* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* colores */
:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
    --purple: #ca00fd;
}

/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    color: white;
}

/* --------------------------------------- MAIN ---------------------------------- */

/* ----------------------- INFO --------------------- */

.contact {
    text-align: center;
    margin: 1%;
    height: 8vh;
    margin: 3vh;
    width: 90vw;
    position: relative;
    padding-bottom: 5vh;
}

#xGraffity {
    position: absolute;
    bottom: -2.5vh;
    left: 4vh;
    z-index: -1;
    width: 80px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 3vh;
    margin: 4%;
    text-align: left;
}

.info div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info .bx {
    font-size: 2.5rem;
    padding: 0.6rem;
    border-radius: 60px;
    box-shadow: 0 0 2px #FFFF;
    margin-bottom: 2%;
}


/* ----------------------- FORM --------------------- */
.formContainer {
    padding-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-bottom: 2vh;

}

.formTitleContainer {

    width: 84%;
    position: relative;
}

#xGraffityForm {
    position: absolute;
    bottom: 1.7vh;
    left: 27.5vh;
    z-index: -1;
    width: 80px;
    /* height: 12vh; */
}



/* input */
form input {
    width: 85vw;
    background-color: transparent;
    background-image: url(../assets/index/imputTexto.png);
    border: none;
    margin-top: 2vh;
}

form input {
    height: 40px;
    margin-bottom: 2vh;
}

/* text messange texterea */
form textarea {
    width: 85vw;
    max-height: 150px;
    background-image: url(../assets/index/imputTextoGrande.png);
    background-color: transparent;
    border: none;
    margin-top: 2vh;

}

/* form contact */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 5vh;
    padding-bottom: 6vh;
}

/* button submit form */
form button[type="submit"] {
    width: 90px;
    height: 50px;
    align-self: center;
    background-image: url(../assets/index/buttonTurquesa.png);
    background-color: transparent;
    border: none;
    margin-bottom: 12%;
    margin-top: 3%;
    font-family: 'Argh';
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    letter-spacing: 3px;
}

form textarea:focus-visible {
    outline: none;
}

form input:focus-visible {
    outline: none;
}

form input,
form input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Argh';
    font-size: 1.5rem;
    color: white !important;
}

form textarea,
form textarea::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Argh';
    font-size: 1.5rem;
    color: white !important;
}


/* ------------------------------------ TITLE -----------------------*/
h2,
h1 {
    font-family: 'Argh';
    font-weight: normal;

}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem;
}