html,
body {
  height: 100%;
}

:root {
  --lightblue: rgb(0, 224, 224);
  --pink: rgb(230, 0, 130);
}

@font-face {
  font-family: "Argh";
  src: url("../assets/fonts/argh/ArghDemo-Italic.otf");
}

@font-face {
  font-family: "Fester";
  src: url(../assets/fonts/fester/Fester-ExtraLight.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Argh;
}

body {
  color: var(--pink);
  margin: 0;
  padding: 0;
  background-image: url("../assets/newBackground.png");
}

ol,
ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover, .fa-solid, .fas:hover {
 cursor: pointer;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100vw !important
}

.h-90 {
  height: 90%;
}

.h-10 {
  height: 10%;
}

.footer {
  background-color: red;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0;
}

.tab-steps {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -10rem;
  overflow-y: auto;
  height: 96vh;
  overflow-x: hidden;
}

.tab-steps .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

#bill {
  border: 1px solid;
  background-color: rgba(0, 0, 0, 0.603);
}

#showBill {
  display: none;
}

#row {
  flex-direction: row;
}

#sideBill {
  width: 30vw;
  height: 27rem;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0.1rem #fff, 0 0 1rem var(--pink);
}

#sideInformation {
  width: 25vw;

}

.sidePriceInfo {
  display: flex;
  justify-content: space-between;
  width: 25vw;
  flex-direction: row-reverse;
}

.container {
  padding: 0;
  margin: .5rem;
  width: 95vw;
  height: auto;
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0.1rem #fff, 0 0 1rem var(--pink);
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(38 20 35 / 51%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0.3rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#image {
  width: 40%;
  height: 8rem;
  background: url(https://www.redeszone.net/app/uploads-redeszone.net/2018/07/comprar-seguridad-online.jpg?x=480&y=375&quality=40);
  background-size: contain;
  background-position-y: 11px;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.d-flex {
  display: flex !important;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

#information {
  width: 50vw;
  font-size: 15px;
  letter-spacing: 1px;
}

#showBill #price{
  text-decoration: underline;
  font-weight: bold;
}
.total{
  margin-top: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 13px;
  color: white;
}

#units {
  margin: 3px;
  padding: 0.2rem;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

#itemQuantity {
  outline: none;
  border: none;
  width: 2rem;
  background: #d7c8e3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
align-items: center;
text-align: center;
color: black;
}

.fa-solid,
.fas {
  margin-right: 9px;
}

.priceInfo {
  display: flex;
  justify-content: space-between;
  width: 42vw;
  flex-direction: column;
  border-bottom: 1px solid #fff;
}


#color{
  display: flex;
  gap: .5rem;
  align-items: center;
}
#color div{
  background-color: gray;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1.5px solid white ;
}
#size,.priceInfo #price{
  display: flex;
  align-items: center;
}
#delete {
  width: 87%;
  display: flex;
  justify-content: space-between;
}
#delete a{
  color: var(--lightblue);
  text-decoration: underline;
}
#breadcrumb {
  display: flex;
  justify-content: center;
}

#main-form {
  width: 100vw;
}

#cardNumber {
  width: 100vw;
}

.tab-steps {
  margin-top: 0rem;
}


#labelCardNumber {
  width: 50vw !important;
}

.form label {
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(38 20 35 / 51%);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.inp input:not(:placeholder-shown)+.label {
  color: white !important;
}

.shipping {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .priceInfo {
    justify-content: space-between;
    width: 50vw;
  }

  #units {
    width: 8.5rem;
  }
}

@media screen and (min-width: 600px) {

  #steps {
    width: 100%;
  }

  .priceInfo{
    flex-direction: row;
  }
  #breadcrumb {
    width: 100vw;
  }

  #information {
    width: 54vw;
  }

  .container {
    height: 20vh;
  }

  .d-flex {
    display: flex !important;
    flex-wrap: nowrap;
  }

  .tab-steps {
      height: 90vh;
      overflow-y: auto;
  }

  .container {
    height: 21vh;
  }

  #image {
    height: 128%;
    width: 28%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 700px) {
  .priceInfo {
    justify-content: space-between;
    width: 45vw;
  }
}

@media screen and (min-width: 800px) {

  #showBill {
    display: inline-block;
    margin-left: 3rem;
  }

  .tab-steps .form {
    width: 61vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1000px) {
  .container {
    width: 84vw;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    height: 24vh;
    width: 68vw;
  }

  .inp {
    width: 45% !important;
  }

  #image {
    height: 128%;
    width: 19%;
    margin-bottom: 0.8rem;
  }
}