/* Propiedades constantes  */

:root {
  --lightblue: rgb(0, 224, 224);
  --pink: rgb(230, 0, 130);
  --darklightblue: #00748E;
  --blue: #00313E;
  --darkpink: #C3007D;
  --purple: #ca00fd;
}

@font-face {
  font-family: "Argh";
  src: url("../assets/fonts/argh/ArghDemo-Italic.otf");
}

@font-face {
  font-family: "Fester";
  src: url(../assets/fonts/fester/Fester-ExtraLight.otf);
}

/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: Argh; */
}

body {

  background-image: url("../assets/newBackground.png");
}

#app {
  min-height: 100vh;
  position: relative;
}

/* contentedor de cards*/
.d-flex {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 5rem;
}

.cards {
  display: flex;
  position: relative;
  background-color: #361025;
  width: 13rem;
  height: 13rem;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem;
  border: 0.1rem solid #fff;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem var(--pink), 0 0 0.8rem var(--pink), 0 0 2.8rem, inset 0 0 1.3rem var(--pink);
  transition: .8s;
  margin-bottom: 4rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* imagen de prueba*/
.test {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.glass {
  height: 10%;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(-10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: .8s;

}

.fire {
  display: flex;
  position: absolute;
  bottom: 20px;
  justify-content: space-around;
  opacity: 0;
  transition: .8s;
  filter: drop-shadow(2px 4px 6px white);
}

.stars {
  width: 15%;
  height: 4vh;
  transition: .8s;
}

.username {
  text-shadow: 0 0 5px #ca00fd;
  color: black;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  transition: .8s;
  font-family: 'Argh';
}

.cards:hover .glass,
.cards:hover .fire,
.cards:hover .username {
  opacity: 1;

}

.cards:hover {
  transform: scale(1.1);
}

/* boton search */
#search {
  width: 6rem;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
}

#search:last-child:hover {
  background: linear-gradient(90deg, #00dada, #c3007d, #c3007d, #00dada);
  background-size: 400%;
}

#search:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}

.form-check-input:focus {

  outline: 0;
  box-shadow: 0 0 0 .25rem #c3007c60 !important;
}

/* boton turn */
.requestTurn {
  position: absolute;
  bottom: -60px;
  height: 3rem;
  width: 8rem;
  margin: 0 35px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 1s;
  font-family: 'Fester';
}

.requestTurn:last-child:hover {
  background: linear-gradient(90deg, #00dada, #c3007d, #c3007d, #00dada);
  background-size: 400%;
}

.requestTurn:last-child:before {
  content: '';
  position: absolute;
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: opacity 0.5s;
}

.requestTurn:last-child:hover:before {
  opacity: 1;
  z-index: -1;
}

.requestTurn:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

/*boton de filter*/
.filter {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}

#input:checked {
  background-color: var(--pink);
  border-color: var(--pink);

}

/* ------- NEW POST -----------*/

/* --- desktop ---- */
.postDesktop {
  color: var(--purple);
  font-size: 3.3rem;
  position: fixed;
  bottom: 5vh;
  right: 3.4vh;
  z-index: 5;
  display: none;
}

.postDesktop:hover {
  cursor: pointer;
  font-size: 3.5rem;
  text-shadow: 0px 0px 10px rgb(255 255 255 / 39%);
}


/* -- mobile ---*/

.newPostDiv h6 {
  color: white;
  font-size: 2.3rem;
  letter-spacing: 1px;
  font-family: 'Argh';
}

.newPostContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  position: fixed;
  height: 100vh;
  z-index: -20;
  opacity: 0;
  background-image: url(../assets/background/newBackground.png);
  background-color: black;
  top: 0;
  left: 100%;
  width: 100%;
  transition: .7s;
}

.newPostContainer.active {
  opacity: 100;
  z-index: 90;
  left: 0;
}

.newPostArrow {
  position: absolute;
  font-size: 2rem;
  top: 0.1rem;
  color: white;
}

.newPostDiv {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostTitle {
  position: relative;
}

#xGraffitiTitle {
  position: absolute;
  top: -2vh;
  right: -2vw;
  z-index: -1;
  width: 75px;
}

.newPostDiv .uploadButton {
  border: none;
  background-color: transparent;
}

.newPostDiv p {
  color: white;
  font-family: "Fester" !important;
  font-size: 1rem;
  margin-bottom: 0.5rem !important;
}

.newPostDiv h4 {
  padding-top: 0.5rem;
  color: white;
  font-size: 1.3rem;
  font-family: 'Argh';
}

.newPostDiv label {
  color: white;
  font-family: "Fester" !important;

}

.newPostDiv input:checked+label {
  color: var(--purple);
}


.newPostDiv input[type=radio] {
  display: none;
}

.newPostDiv .bx {
  font-size: 2.5rem;
}

.newPostDiv .bx:hover {
  cursor: pointer !important;
  color: var(--purple) !important;
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.568);
}

.newPostDiv select {
  word-wrap: normal;
  background-color: var(--purple);
  border: none;
  outline: none;
  color: white;
  letter-spacing: 2px;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 4px;
  text-shadow: 2px 2px 2px black;
  font-family: 'Fester';
  font-weight: 600;
}

.newPostDiv select option {
  text-shadow: 2px 2px 2px black;
}



.selectTattooArtist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0.4rem;
}

.newPostDiv button[type=submit] {
  text-align: center;
  width: 95px;
  border: none;
  background-color: transparent;
  background-image: url(../assets/index/buttonTurquesa.png);
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px #000000d6;
  font-family: 'Argh';
}

.fireValidationDiv {
  padding-bottom: 1.3rem;
  padding-top: 0.5rem;
  display: flex;
  gap: 4vw;
}

.piercingOrTattooDiv {
  display: flex;
  gap: 5vw;
}

.newPostDiv label:hover {
  cursor: pointer !important;
  color: var(--purple);
  text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.568);
}

.rateYourExperienceTitle {
  position: relative;
}
/* 
#fireEmojiExperience {
  width: 45px;
  position: absolute;
  top: -18px;
  left: 164px;
} */
#fireEmojiExperience {
  width: 45px;
  position: absolute;
  top: -11px;
  left: 160px;
}
/* -------------- media query ----------------- */
@media screen and (min-width:800px){

  .newPostContainer.active{
    left:50%
  }

  .newPostContainer {
    left: 100%;
    width: 50%;
  }


  .postDesktop{
    display: inline;
  }
  .newPostDiv p {
    color: white;
    font-family: "Fester" !important;
    font-size: 1.5rem;
    margin-bottom: 0.5rem !important;
    text-align: center;
}

.newPostDiv h4 {
  padding-top: 0.5rem;
  color: white;
  font-size: 1.6rem;
}

.newPostDiv label {
  color: white;
  font-family: "Fester" !important;
  font-size: 1.5rem;
}

.newPostDiv .bx {
  font-size: 3rem;
}

#fireEmojiExperience {
  width: 45px;
  position: absolute;
  top: -11px;
  left: 202px;
}

.newPostDiv button[type=submit] {
  text-align: center;
  border: none;
  background-color: transparent;
  background-image: url(../assets/index/buttonTurquesa.png);
  color: white;
  font-size: 2rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px #000000d6;

}
}

@media (min-width: 1080px) {
  .cards {
    width: 25%;
    min-height: 40vh;
  }

  fieldset {
    padding: 6px;
    margin: 6px;
    display: flex;
    justify-content: center;
  }

  .form-switch {
    padding-left: 2.9rem !important;
  }

  .glass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Argh';
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  .fire {
    bottom: 9px;
    right: 5px;
  }

  .stars {
    width: 40%;
    height: 6vh;
  }
}

