* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* colores */
:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
    --purple: #ca00fd;
}

/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    /* background-position: center;
    background-size: cover; */
    color: white;
}

/*------------------------------ MAIN -----------------------------------------*/

/* IMAGES */
.welcome {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 3vh;
    /* padding-top: 3vh; */
}

#girlWelcome {
    height: 50vh;
    width: 100vw;
}

#logoToungue {
    position: absolute;
    top: 38vh;
    left: -2vw;
    z-index: 2;
    width: 37vw;
    height: 17vh;
}

#barbedWire {
    position: absolute;
    top: 41.7vh;
    left: -1vw;
    z-index: 1;
    height: 17vh;
}

/* ----------------------------- TATTO ARTISTS--------------------------  */

/* Title artists*/
.containerTattooArtist {
    position: relative;
}

#xGraffitiTitle {
    position: absolute;
    top: -2vh;
    left: 30vh;
    z-index: -1;
    width: 17vw;
    height: 12vh;
}


/* section tattoArtists */
.tattoArtists {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
    padding-top: 5vh;
    gap: 1.5rem;
}

/* tattoArtists card */

.cards {
    display: flex;
    background-color: #fff0;
    max-width: 75%;
    max-height: auto;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid #fff;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 0.5rem var(--darklightblue), 0 0 0.8rem var(--darklightblue), 0 0 2rem, inset 0 0 1.3rem var(--darklightblue);
}

/* img tattoArtists */
.cards img {
    width: 180px;
    height: 110px;
}

/* button request */

.request {
    position: relative;
    height: 3.5rem;
    width: 8rem;
    margin: 0 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: small;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 3%;
}

.request:last-child:hover {
    background: linear-gradient(90deg, #00dada, #c3007d, #c3007d, #00dada);
    background-size: 300%;
}

.request:last-child:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

.request:last-child:hover:before {
    opacity: 0.7;
    z-index: -1;
}

.request button:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/* ----------------------- ABOUT US ------------------------ */
.aboutUsContainer {
    padding: 5vh;
    position: relative;
}

.aboutUsContainer p {
    font-family: 'Nanum Gothic', sans-serif;
}

#xGraffittyPurple {
    position: absolute;
    top: 3.5vh;
    left: 3vh;
    z-index: -1;
    width: 17vw;
    height: 12vh;
}


/* ----------------------CONTACT US ------------------------*/

.formTitle {
    position: relative;
}

#xGraffityForm {
    position: absolute;
    top: -1vh;
    left: 18vh;
    z-index: -1;
    width: 17vw;
    height: 12vh;
}

/* input */
form input {
    width: 280px;
    background-color: transparent;
    background-image: url(../assets/index/imputTexto.png);
    border: none;
    margin-top: 2vh;
}

form input[type="name"] {
    height: 50px;
}

form input[type="email"] {
    height: 50px;
}

/* text messange texterea */
form textarea {
    width: 280px;
    max-height: 150px;
    background-image: url(../assets/index/imputTextoGrande.png);
    background-color: transparent;
    border: none;
    margin-top: 2vh;

}

/* form contact */
form {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin-left: 6%;
    gap: 0.5rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* button submit form */
form button[type="submit"] {
    width: 90px;
    height: 50px;
    align-self: center;
    background-image: url(../assets/index/buttonTurquesa.png);
    background-color: transparent;
    border: none;
    margin-bottom: 12%;
    margin-top: 3%;
    font-family: 'Argh';
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    letter-spacing: 3px;
}

form textarea:focus-visible {
    outline: none;
}

form input:focus-visible {
    outline: none;
}

form input,
form input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Argh';
    font-size: 1.5rem;
    color: white !important;
}

form textarea,
form textarea::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Argh';
    font-size: 1.5rem;
    color: white !important;
}


/* ------------------------------------ TITLE -----------------------*/
h2,
h3 {
    font-family: 'Argh';
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}