* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* colors */
:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
    --purple: #ca00fd;
}

/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    background-color: black;
    color: white;
}

/*------------------------------ MAIN -----------------------------------------*/

/* IMAGES */
.welcome {
    width: 100%;
    height: 27rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 6vh;
    padding-top: 0px;
    margin-top: 0;
    box-sizing: border-box;
    display: block;
    background-position: center;
    background-image: url(../assets/index/welcomeGirl.png);
    background-size: cover;
}

#girlWelcome {
    width: 100%;

}

#logoToungue {
    position: absolute;
    bottom: -9vh;
    left: -2vw;
    z-index: 2;
    width: 150px;
    /* height: 100px; */
}
 
.barbedWire {
    position: absolute;
    background-image: url(../assets/index/alambrePuasSeparador.png);
    width: 100%;
    z-index: 1;
    height: 17vh;
    top: 87.6%;
}


/* ----------------------------- TATTO ARTISTS--------------------------  */


/* section tattoArtists */
.tattoArtists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
    padding-top: 5vh;
    gap: 1.5rem;
    max-width: 100%;
}

/* Title artists*/
.containerTattooArtist {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#xGraffitiTitle {
    position: absolute;
    top: -2vh;
    right: -2vw;
    z-index: -1;
    width: 80px;
    /* height: 12vh; */
}

/* tattoArtists card */

.tattooArtistCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    /* gap: 3rem; */


}

.cards {
    display: flex;
    background-color: #fff0;
    max-width: 60%;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-bottom: 4rem;
    padding: 1rem;
    border: 0.1rem solid #fff;
    padding: 0.4em;
    padding-bottom: 1.2rem;
    box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 0.5rem var(--darklightblue), 0 0 0.8rem var(--darklightblue), 0 0 2rem, inset 0 0 1.3rem var(--darklightblue);
}

/* img tattoArtists */
.cards img {
    max-width: 100%;
    /* height: 110px; */
    filter: grayscale();
}

/* button request */

.request {
    position: relative;
    height: 3.5rem;
    width: 8rem;
    margin: 0 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: small;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s;
    margin-bottom: 3%;
}

.request:last-child:hover {
    background: linear-gradient(90deg, #00dada, #c3007d, #c3007d, #00dada);
    background-size: 300%;
}

.request:last-child:before {
    content: '';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 50px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

.request:last-child:hover:before {
    opacity: 0.7;
    z-index: -1;
}

.request button:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

/* ----------------ABOUT US AND CONTACT US --------------------*/

.aboutUsAndContactUsContainer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/* ----------------------- ABOUT US ------------------------ */
.aboutUsContainer {
    padding: 5vh 1rem;
    position: relative;
    width: 80vw;
}

.aboutUsContainer p {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.3rem;
}

#xGraffittyPurple {
    position: absolute;
    top: 3.5vh;
    left: 3vh;
    z-index: -1;
    width: 80px;
    /* height: 12vh; */
}


/* ----------------------CONTACT US ------------------------*/

.contactUsContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.formTitle {
    position: relative;
}

#xGraffityForm {
    position: absolute;
    top: -1vh;
    left: 18vh;
    z-index: -1;
    width: 80px;
    /* height: 12vh; */
}

/* input */
form input {
    width: 80vw;
    background-color: transparent;
    background-image: url(../assets/index/imputTexto.png);
    border: none;
    margin-top: 2vh;
}

form input[type="name"] {
    height: 50px;
}

form input[type="email"] {
    height: 50px;
}

/* text messange texterea */
form textarea {
    width: 80vw;
    max-height: 150px;
    background-image: url(../assets/index/imputTextoGrande.png);
    background-color: transparent;
    border: none;
    margin-top: 2vh;

}

/* form contact */
form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    /* margin-left: 6%; */
    gap: 0.5rem;
    padding-top: 5vh;
    padding-bottom: 6.5vh;
}

/* button submit form */
form button[type="submit"] {
    width: 90px;
    height: 50px;
    align-self: center;
    background-image: url(../assets/index/buttonTurquesa.png);
    background-color: transparent;
    border: none;
    margin-bottom: 12%;
    margin-top: 3%;
    font-family: 'Argh';
    color: white;
    font-size: 1.7rem;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    letter-spacing: 3px;
}

form textarea:focus-visible {
    outline: none;
}

form input:focus-visible {
    outline: none;
}

form input,
form input::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Argh';
    font-size: 1.5rem;
    color: white !important;
}

form textarea,
form textarea::-webkit-input-placeholder {
    text-align: center;
    font-family: 'Argh';
    font-size: 1.5rem;
    color: white !important;
}


/* ------------------------------------ TITLE -----------------------*/
h2,
h3 {
    font-family: 'Argh';
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

/* ---------------------- MEDIA QUERIES ----------------------*/

@media screen and (min-width:550px) and (max-width:739px) {

    form input,
    form textarea {
        width: 65vw;
    }

    .tattooArtistCards {
        width: 100%;
    }

    .cards{
        width: 40%;
    }

   

    

}


@media screen and (min-width:740px) {

    /* ABOUT US AND CONTACT US*/

    .aboutUsAndContactUsContainer {
        display: flex;
        gap: 5vw;
    }

    /* CONTACT US*/

    .aboutUsContainer {
        max-width: 40vw;
    }


    form input,
    form textarea {
        width: 50vw;
    }


    .tattooArtistCards {
        display: flex;
        gap: 5vh;
        width: 90%;

    }

    .cards {
        display: flex;
        background-color: #fff0;
        width: 25%;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border: 0.1rem solid #fff;
        padding: 1rem;
        padding-bottom: 1.2rem;
        box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 0.5rem var(--darklightblue), 0 0 0.8rem var(--darklightblue), 0 0 2rem, inset 0 0 1.3rem var(--darklightblue);
    }

    /* #logoToungue {
        position: absolute;
        bottom: -3vh;
        left: 5vw;
        width: 200px;

    } */
    .aboutUsContainer p {
        font-size: 1.7rem;
        padding-top: 1.3rem;
    }
}

@media screen and (min-width:1080px) {
    /* #logoToungue {
        position: absolute;
        bottom: -7vh;
        left: 5vw;
        width: 250px;

    } */

    .aboutUsContainer p {
        font-size: 1.7rem;
        padding-top: 2rem;
    }

    /* .welcome{
     max-width: 100vw;
    } */

 form input,
    form textarea {
        width: 35vw;
    }
}