*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* colores */
:root{
    --lightblue:  rgb(0, 224, 224);
    --pink: rgb(230, 0, 130); 
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
 }
/* tipografia */
 @font-face{
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
 } 

 /* body */
 body{
    background-image: url(../assets/background.png);
    /* background-position: center;
    background-size: cover; */
    color: white;
 }

 /*------------------------------ MAIN -----------------------------------------*/

 /* IMAGES */
 .welcome{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 3vh;
    /* padding-top: 3vh; */
 }

#girlWelcome{
    height: 50vh;
    width: 100vw;
}
#logoToungue{
    position: absolute;
    top:38vh;
    left: -2vw;
    z-index: 10;
    width: 37vw;
    height: 17vh;
}

/* ----------------------------- TATTO ARTISTS--------------------------  */

/* section tattoArtists */
.tattoArtists{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3vh;
    padding-top: 5vh;
    gap:1.5rem;
}

/* name tattoArtists */
h3{
    font-family: 'ArghDemo';
}
/* tattoArtists card */

.cards{
    display: flex;
    background-color: #fff0;
    max-width: 75%;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: 0.1rem solid #fff;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem rgb(255, 255, 255), 0 0 0.2rem #fff, 0 0 2rem var(--darklightblue), 0 0 0.8rem var(--darklightblue), 0 0 2.8rem , inset 0 0 1.3rem var(--darklightblue);
}
/* img tattoArtists */
.cards img{
width:180px ;
height: 110px;
}

/* button request */
.request{
    width: 90px;
    height: 50px;    
    align-self: center;
    background-image: url(../assets/buttonTurquesa.png);
    background-color: transparent;
    border: none;  
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}

/* ----------------------- ABOUT US ------------------------ */
.aboutUsContainer{
    padding: 5vh;
}

.aboutUsContainer p{
    font-family: 'Nanum Gothic', sans-serif;
}

 /* input */
 form input{
    width: 280px;
    background-color: transparent;
    background-image: url(../assets/imputTexto.png);
    border: none;

 }
 
form input[type="name"]{
    height: 50px;
}
form input[type="email"]{
    height: 50px;
}

 /* text messange texterea */
form textarea{
    width: 280px;
    max-height: 150px;
    background-image: url(../assets/imputTextoGrande.png); 
    background-color: transparent;
    border: none;

}

/* form contact */
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 6%;
    gap: 0.5rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

/* button submit form */
form button[type="submit"]{
    width: 90px;
    height: 50px;    
    align-self: center;
    background-image: url(../assets/buttonTurquesa.png);
    background-color: transparent;
    border: none;
    margin-bottom: 12%;
    margin-top: 3%;
    
    /* background-color: var(--blue);   */ 
}

/* Titles*/
h1, h2, h3{
    font-family: 'Argh';
}

