:root {
  --lightblue: rgb(0, 224, 224);
  --pink: rgb(230, 0, 130);
}

.inp {
  position: relative;
  padding: auto;
  margin: 0.2rem;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem var(--pink), 0 0 0.1rem var(--pink), 0 0 0.1rem, inset 0 0 1.1rem var(--pink);

}
.inp .label {
  position: absolute;
  top: 20px;
  left: 12px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
  pointer-events: none;
}
.inp .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}
.inp input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  border: 0.1rem solid #fff;
  box-shadow:   0 0 0.1rem #fff, 0 0 1rem var(--pink);
  font-family: inherit;
  padding: 16px 30px 0 30px;
  height: 56px;
  font-size: 16px;
  font-weight: 400;
   background: transparent;
  color: white;
  transition: all 0.15s ease;
}
.inp input:hover {
  background: transparent;
  border: 0.1rem solid #fff;
  box-shadow:  0 0 0.1rem #fff, 0 0 1rem var(--pink);
}
.inp input:not(:-moz-placeholder-shown) + .label {
  color: rgb(10, 10, 10);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:-ms-input-placeholder) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 var(--pink);
}
.inp input:focus + .label {
  color: white;
  transform: translate3d(0, -12px, 0) scale(0.75);
}
.inp input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: all 0.1s ease;
}

/* card inputs */
.cardNumber{
  display: flex;
}
.inpExpiry{
  width: 30%;
  
  
}
.payment{
display: flex;
flex-direction: column;
align-items: center;
}

#steps{
      font-size: 1em;

}
/*  button style */
button{
  margin-top: 1rem;
}

.button-49 {
  height: 3rem;
  width: 8rem;
  border: 1px solid #fff;
  outline: none;
  background: #111;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
    right: 130px;
  cursor: pointer;
  transition: 1s;
}

.button-49:last-child:hover {
  background: linear-gradient(90deg, #00dada, #c3007d, #c3007d, #00dada);
  background-size: 400%;
  transition: .5s;
}

.button-49:last-child:before {
  content: '';
  background: inherit;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 50px;
  filter: blur(20px);
  opacity: 0;
  transition: .5s;
}

.button-49:last-child:hover:before {
  opacity: 1;
  z-index: -1;
  transition: 1s;
}

.button-49:hover {
  z-index: 1;
  animation: glow 8s linear infinite;
  transition: 1s;
  transform: scale(1.1);
}

@keyframes glow {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}