@media (max-width: 800px){
  .tableSection{
    width: 100%;
    height: auto;
  }
  .webpageContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    padding-top: 3rem;
  }

  .previewSection{
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-left: 5%;
  }
}
