*,
*:before,
*:after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html {
    min-height: 100vh;
    max-width: 100vw;
}

/* colores */
:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
    --purple: #ca00fd;
}

/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

/* body */
body {
    min-height: 100%;
    max-width: 100%;
    background-image: url(../assets/index/welcomeGirl2.png);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
    height: 150vh;
}

main{
    max-width: 100vw;
}

/* --------------- MAIN ----------------------*/

/* ----- Form----- */


a {
    text-decoration: none;
    color: var(--lightblue);
    transition: 0.5s ease;
    font-family: "Argh";
    font-size: 2rem;
}

a:hover {
    color: var(--lightblue);
    font-family: "Argh";
}

.form {
    background: transparent;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
}

.tabContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 29px;
    letter-spacing: 2px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    /* background: var(--lightblue); */
    background: rgba(160, 179, 176, 0.25);
    color: #ffffff;
}

.tab-group .active a {
   /*  background:var(--lightblue); */
    color: #ffffff;
    border-bottom: solid 3.5px aqua;
}

.tab-content>div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 25px;
}

label {
    position: absolute;
    transform: translateY(-1px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: var(--lightblue);;
    font-size: 2rem;
    
}

label.active {
    transform: translateY(19px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: var(--lightblue);;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row>div {
    float: left;
    width: 100%;
    margin-right: 4%;
}

.top-row>div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    height: 8vh;
   /*  padding: 15px 0; */
    font-size: 2rem;
   /*  font-weight: 600; */
    /* text-transform: uppercase; */
    font-family: Argh;
    letter-spacing: 0.1em;
   /*  background: var(--darklightblue); */
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    border: 1px solid var(--lightblue);
    background-color: transparent;

}

.button:hover,
.button:focus {
    background: var(--lightblue);
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}


/* ----------------- NEON SIGN --------------------*/
@font-face {
    font-family: "Graffity";
    src: url(../assets/fonts/fontsAlternativas/aAnotherTag.ttf);
}

h1{
    font-family: "Argh";
    color: white;
    animation: neon 1s infinite;
    font-size: 308%;
    letter-spacing: 2px;
}
@keyframes neon{
    0% , 39%, 41%, 59%, 61%, 100%{
        text-shadow:
        #fff 0 0 12px,
        rgb(0, 224, 224)  0 0 24px,
        rgb(0, 224, 224) 0 0 36px;
    }
        
        40%, 60%{
        text-shadow:none; 
        }
}
/* ----------------------- MEDIA QUERIES --------------------*/

@media screen and (min-width:650px) {

    .form{
        box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.39);
        max-height: 95%;
    }

    body{
        height: 130vh;
        filter: none;
    }
    
    .tab-group li a {
        width: 31%;

    }
}

@media screen and (min-width:800px) {

    body{
        height: 125vh;
        filter: none;
    }
    
}



