.tableSection{
  width: 60%;
  height: 100%;
  padding-left: 5%;
  padding-top: 10%;
}

.previewSection{
  width: 40%;
  height: 100%;
  padding-top: 10%;
  color: white;
}

table thead tr th, table tbody tr td{
  padding: 0.2rem 1rem 0.2rem 1rem;
}

thead{
  color: var(--pink);
}

tbody{
  color: white;
}

tbody tr{
  cursor: pointer;
}

tbody tr:hover{
  background-color: rgb(230 0 130 / 22%);
}
