* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
}


@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

@font-face {
    font-family: "Text";
    src: url(../assets/fonts/fontsAlternativas/Kepolu.ttf);
}

@font-face {
    font-family: "Graffity";
    src: url(../assets/fonts/fontsAlternativas/aAnotherTag.ttf);
}


/*------------------------------ ANIMATIONS -----------------------------------------*/

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1
    }
}

/*------------------------------ ANIMATIONS -----------------------------------------*/


/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    background-color: black;
    color: white;
}

/* ===================OPTIONS VIEW================== */


.mobileHeader {
    height: 7rem;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.upSeccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.upSeccion h1 {}

.upSeccion i {
    font-size: 2rem;
}

.downSeccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 1rem;
    width: 100%;
}

.downSeccion .typesProducts {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0.7rem;
}

.downSeccion .typesProducts p {
    margin: 0;
}


.downSeccion .filters {
    display: flex;
    align-items: center;
    height: 100%;
    gap: .5rem;
}

.downSeccion .filters input {
    width: 7rem;
}

/* ===================OPTIONS VIEW================== */
.filterMobileContainer{

}