* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* colores */
:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
    --purple: #ca00fd;
}

/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

@font-face {
    font-family: "Fester";
    src: url(../assets/fonts/fester/Fester-ExtraLight.otf);
}

/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    color: white;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: underline;
}

/* --------------------------------------- MAIN ---------------------------------- */

/* verification success */
.success {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 5vh;
    /* display: none; */
    
}

/* verification error */
.error {
    text-align: center;
    padding: 2%;
    /* display: none; */
}

/* ----------------- IMG --------------*/
#verification1 {
    width: 300px;
}

#verification2 {
    width: 300px;
}
img{
    padding-top: 3vh;
}
/* ------------------------------------ TITLE -----------------------*/
h3,
h2,
h1 {
    font-family: 'Argh';
    font-weight: normal;
    padding-top: 2vh;

}

h1 {
    font-size: 4rem;
}

h2, h3 {
    font-size: 1.5rem;
}

/* ---------------- TITLES ANIMATIONS -----------------*/
.success h1 {
    font-family: "Argh";
    color: white;
    animation: neon1 1s infinite;
    font-size: 308%;
    letter-spacing: 2.5px;
}

@keyframes neon1 {

    0%,
    39%,
    41%,
    59%,
    61%,
    100% {
        text-shadow:
            #fff 0 0 12px,
            rgb(0, 224, 224) 0 0 24px,
            rgb(0, 224, 224) 0 0 36px;
    }

    40%,
    60% {
        text-shadow: none;
    }
}

.error h1 {
    font-family: "Argh";
    color: white;
    animation: neon2 1s infinite;
    font-size: 308%;
    letter-spacing: 2.5px;
}

@keyframes neon2 {

    0%,
    39%,
    41%,
    59%,
    61%,
    100% {
        text-shadow:
            #fff 0 0 12px,
            var(--darkpink) 0 0 24px,
            var(--purple) 0 0 36px;
    }

    40%,
    60% {
        text-shadow: none;
    }
}

/* ------------ MEDIA QUERIES ------------- */

@media screen and (min-width:800px) {

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    #verification1 {
        width: 400px;
    }
    
    #verification2 {
        width: 400px;
    }
}