* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* colores */
:root {
    --lightblue: rgb(0, 224, 224);
    --pink: rgb(230, 0, 130);
    --darklightblue: #00748E;
    --blue: #00313E;
    --darkpink: #C3007D;
    --purple: #ca00fd;
}

/* tipografia */
@font-face {
    font-family: "Argh";
    src: url(../assets/fonts/argh/ArghDemo.otf);
}

/* body */
body {
    background-image: url(../assets/background/newBackground.png);
    color: white;
}

/* --------------------------------------- MAIN ---------------------------------- */

/* verification success */
.success{
    text-align: center;
    padding: 2%;
    margin: 1%;
}

.success img{
    width: 100px;
}
 
/* verification error */
.error{
    text-align: center;
    padding: 1%;
}

/* ------------------------------------ TITLE -----------------------*/
h3,
h2,
h1 {
    font-family: 'Argh';
    font-weight: normal;

}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}


@media screen and (min-width:800px){
    .success{
        margin: 5%;
    }

    .error{
        padding: 3%;
        margin: 5%;
    }

h1{
    font-size: 4rem;
}

h2{
font-size: 3rem;
}
h3{
    font-size: 2rem;
}
}